body{
    background: rgb(233, 230, 230);
    
}

.header_cv{
    display: flex;
}

.navigation{
    display: flex;
    justify-content: center;
    list-style: none;
    text-transform: uppercase;
    padding: 15px;
}

.nav-item{
    padding: 10px;
    
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    outline: none;
    text-decoration: none;
    
} 
.link{
    color: #000;
}
.link:hover {
    color: rgb(0, 0, 0);
}
img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: solid ;
    
    display: block;
    margin-left: 26px;
    margin-top: 10px;
    
}

.back{
    background: rgb(251, 250, 250);
    width: 1000px;
    height: 1100px;
    margin-left: auto;
    margin-right: auto;
    
}

.main{
    display: flex;
    
}

.info{
    margin-left: 5px;
}
.education{
    display: flex;
}

.skills{
    display: flex;
}

.name{
    text-align: center;

    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.colum1{
    margin-left: 30px;

}

.about{
    
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
}

.colum2{
    margin-left: 30px;

}

p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

h2{
    font-family: "Poiret One", sans-serif;
    font-weight: 599;
    font-style: normal;

    font-size: 40px;
    text-decoration: underline rgb(110, 171, 245);
}

h3{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-decoration: underline rgb(110, 171, 245);
}

.line{
    border-left: 3px solid  black;
    height: 870px;
    margin-left: 15px;
    margin-top: auto;
}

.year{
    color: rgb(110, 171, 245);
    font-weight: 700;
    margin-left: 10px;
}

.bold{
    font-weight: 700;
}

.text{
    line-height: 30%;
    margin-top: 50px;
}

.skills_wrapper2{
    margin-left: 50px;
}

li{
    font-weight: 700;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }

.rss{
    width: 221px;
    height: 45px;
    border: none;
    margin-left: 680px;
}

.footer-container{
    display: flex;
    
}

.footer{
    margin-top: 20px;
    background: rgb(235, 245, 253);
}